* {
    font-family: 'Helvetica';
}

@media (max-width: 940px) {
    .offcanvas-collapse {
      position: fixed;
      top: 56px; /* Height of navbar */
      bottom: 0;
      left: 50%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: visible;
      background-color: #343a40;
      transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(-100%);
    }
}

.img-logo {
  width: 100px;
  height: 34px;
  left: 136px;
  top: 25px;
}

/* Hero Section */
.collapse.navbar-collapse {
  left: 864px;
  top: 24px;
  top: 25px;
}

.container.hero-section h1 {
  width: 568px;
  height: 108px;
  left: 136px;
  top: 177px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.container.hero-section p {
  width: 468px;
  height: 60px;
  left: 136px;
  top: 301px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.container .img-hero {
  width: 100%;
  min-height: 199px;
  left: 206px;
  top: 604px;
}

@media screen and (min-width: 576px) {
  .img-hero {
    width: 50%;
  }
}
/* Hero Section End */

/* Our Service Section */
.our-service .img-girl.img-fluid {
  width: 100%;
  min-height: 228px;
  left: 206px;
  top: 604px;
}

@media screen and (min-width: 576px) {
  .container .img-girl.img-fluid {
    min-width: 30%;
  }
}

.why-us.row {
  border-radius: 8px;
  border-color: #D0D0D0;
}

.why-us {
  width: 1168px;
  height: 308px;
  left: 136px;
  top: 1132px;
}

.why-us .container.row .card-1 {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;

  width: 268px;
  height: 196px;

  border: 1px solid #D0D0D0;
  border-radius: 8px;
}

.why-us .container.row .card-2 {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;

  width: 268px;
  height: 196px;

  border: 1px solid #D0D0D0;
  border-radius: 8px;
}

.why-us .container.row .card-3 {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;

  width: 268px;
  height: 196px;

  border: 1px solid #D0D0D0;
  border-radius: 8px;
}

.why-us .container.row .card-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;

  width: 268px;
  height: 196px;

  border: 1px solid #D0D0D0;
  border-radius: 8px;
}
/* Why Us Section End */

/* Testimonial Section */
.testimonial {
  margin-top: 100px;
  margin-bottom: 100px;
}

.box-testi {
  background: #F1F3FF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  max-width: 619px;
}

.box-testi img {
  width: 80px !important;
  height: 80px;
  border-radius: 100%;
}

.isi-testi {
  padding-top: 69px;
  padding-bottom: 69px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
}

.rate {
  display: flex;
  flex-direction: row;
  width: 16px;
  height: 16px;
}

.box-testi .isi-testi .rate img {
  margin-bottom: 8px;
  width: 16px;
  height: 16px;
}

.box-testi p {
  margin-bottom: 8px;
}

.owl-prev, .owl-next {
  margin: 10px;
}

.next-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 50px;
  background-color: white;
  padding: 10px;
}

.next-slide:hover {
  color: white;
  background-color: #5CB85F;
  border: 1px solid #5CB85F;
}

.prev-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 50px;
  background-color: white;
  padding: 10px;
}

.prev-slide:hover {
  color: white;
  background-color: #5CB85F;
  border: 1px solid #5CB85F;
}

.owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
/* Testimonial Section End */

/* CTA Banner Section */
.card {
  position: absolute;
  width: 1168px;
  height: 326px;
  left: 136px;
  top: 2078px;
  background-color: #0D28A6;
}
/* CTA Banner End */

/* FAQ Section */
.faq h3 {
  position: absolute;
  height: 36px;
  left: 9.90%;
  right: 65%;
  top: 2508px;
}

.faq p {
  position: absolute;
  left: 136px;
  top: 2560px;
}

.faq .accordion {
  float: right;
  flex-direction: column;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 668px;
  height: 344px;
  left: 636px;
  top: 2504px;
}
/* FAQ Section End */

/* footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  width: 1141px;
  height: 128px;
  left: 136px;
  top: 2998px;
  padding: 0px;
  gap: 86px;
}

.wrapper-col-2 {
  text-decoration: none;
  color: #000000;
}